.about {
  padding-top: 100px;
  background-color: $midnight-express-4;
  overflow: hidden;

  .container {
    min-height: 800px;

    // parallax
    position: relative;
  }

  &__background {
    position: absolute;
    right: 0;
    bottom: 0;

    // parallax
    transition: transform 0.3s linear;
    will-change: transform;
  }

  &__content {
    position: relative;
    z-index: 1;
    max-width: 650px;
  }

  h2 {
    font-size: 95px;
    font-weight: 700;
    line-height: 45px;
    color: $color-default-white;
    margin: 0;
  }

  // Описание
  &__description p {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    color: $color-default-white;
  }

  // Дополнительное описание
  &__additional p {
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    color: $color-default-white;
  }
}
