.about {
  padding-top: 100px;
  background-color: $midnight-express-4;
  overflow: hidden;
  border-radius: 0 0 58px 58px;
  margin-bottom: -60px;
  position: relative;
  z-index: 2;

  @include vp-1023 {
    padding-top: 125px;
    padding-bottom: 55px;
  }

  @include vp-767 {
    padding-top: 50px;
    padding-bottom: 0;
    border-radius: 0 0 30px 30px;
  }

  .container {
    min-height: 659px;
    padding-left: 72px;

    // parallax
    position: relative;

    @include vp-1023 {
      padding-left: 42px;
    }

    @include vp-767 {
      padding-left: 28px;
      min-height: 384px;
    }
  }

  &__background {
    position: absolute;
    width: 655px;
    height: 665px;
    right: 71px;
    bottom: 0;

    img {
      width: inherit;
      height: inherit;
    }

    // parallax
    transition: transform 0.3s linear;
    will-change: transform;

    @include vp-1023 {
      width: 368px;
      height: 546px;
      right: 8px;
      bottom: 33px;
    }

    @include vp-767 {
      width: 292px;
      height: 353px;
      bottom: 0;
      right: 0;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    max-width: 650px;

    @include vp-1023 {
      max-width: 400px;
    }
  }

  h2 {
    font-size: 78px;
    font-weight: 700;
    line-height: 45px;
    color: $color-default-white;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;

    @include vp-767 {
      font-size: 40px;
      line-height: 28px;
      letter-spacing: 2px;
    }
  }

  // Описание
  &__description p {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    color: $color-default-white;
    margin: 26px 0 0;

    @include vp-1023 {
      margin-top: 35px;
      margin-left: 5px;
      line-height: 33px;
    }

    @include vp-767 {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      margin-top: 20px;
      margin-left: -1px;
    }
  }

  // Дополнительное описание
  &__additional p {
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    color: $color-default-white;
    margin: 59px 0 0;
    letter-spacing: -0.1px;

    @include vp-1023 {
      margin-top: 105px;
      margin-left: 4px;
      letter-spacing: -1.6px;
      max-width: 354px;

      br {
        display: none;
      }
    }

    @include vp-767 {
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      letter-spacing: -0.8px;
      margin-top: 38px;
      margin-left: -1px;
    }
  }

  &__button {
    margin-top: 136px;
    min-width: 284px;

    @include vp-1023 {
      margin-top: 124px;
      margin-left: 5px;
      min-width: 276px;
    }

    @include vp-767 {
      margin-top: 42px;
      margin-left: 2px;
      min-width: 263px;
      padding: 28px 68px 24px 31px;

      & svg {
        top: 32px;
        right: 30px;
      }
    }
  }
}
