.btn {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: $catalina-blue;
  background-color: $pale-cornflower-blue;
  display: inline-block;
  user-select: none;

  padding: 29px 60px 27px 34px;

  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all $trans-default;

  position: relative;

  svg {
    position: absolute;
    right: 33px;
    top: 34px;
    transition: all $trans-default;
  }

  @include hover-focus {
    background-color: $picton-blue;

    svg {
      transform: rotate(-90deg);
    }

    &:active {
      color: rgb($catalina-blue, 0.3);
    }
  }

  &:disabled {
    opacity: 0.3;
    background-color: $chambray;
    color: $pattens-blue;

    pointer-events: none;
    cursor: not-allowed;
  }
}
