.cards {
  display: grid;
  grid-template-columns: 1fr 285px;
  grid-template-areas:
  "list filter"
  "controls filter";
  align-items: start;
  gap: 5%;

  &__list {
    grid-area: list;
  }

  &__filter {
    grid-area: filter;
  }

  &__controls {
    grid-area: controls;
  }
}
