.cards {
  margin-bottom: 76px;

  @include vp-1023 {
    margin-top: 42px;
    margin-bottom: 60px;
  }

  @include vp-767 {
    margin-top: 21px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 21.5%;
    grid-template-areas:
      "list filter"
      "controls filter";
    align-items: start;
    gap: 6.5%;

    @include vp-1023 {
      display: block;
    }
  }

  &__list {
    grid-area: list;

    @include vp-1023 {
      margin-top: 40px;
    }

    @include vp-767 {
      margin-top: 28px;
    }
  }

  &__filter {
    grid-area: filter;
  }

  &__controls {
    grid-area: controls;
  }
}
