.cards {
  padding-bottom: 62px;

  @include vp-1023 {
    margin-top: 42px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 285px;
    grid-template-areas:
      "list filter"
      "controls filter";
    align-items: start;
    gap: 6.5%;

    @include vp-1023 {
      display: block;
    }
  }

  &__list {
    grid-area: list;

    @include vp-1023 {
      margin-top: 40px;
    }
  }

  &__filter {
    grid-area: filter;
  }

  &__controls {
    grid-area: controls;
  }
}
