.companions {
  padding-top: 100px;
  padding-bottom: 122px;
  min-height: 400px;

  @include vp-1023 {
    padding-top: 79px;
    padding-bottom: 70px;
    border-radius: 0 0 58px 58px;
    z-index: 4;
  }

  @include vp-767 {
    padding-top: 78px;
    padding-bottom: 40px;
    border-radius: 0 0 28px 32px;
    position: relative;
  }

  &__progress {
    padding: 15px 0 5px 0;
    width: 60px;
    height: 60px;
    background-color: rgb($color-default-black, 0.6);
    position: absolute;
    border-radius: 50%;
    overflow: hidden;

    top: 20px;
    left: 22px;
    z-index: 1;

    @include vp-767 {
      top: 18px;
      left: 17px;
    }
  }

  &__progress-value {
    text-align: center;

    span {
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      color: $color-default-white;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        bottom: 4px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgb($color-default-white, 0.3);
      }
    }
  }

  &__progress-level {
    text-align: center;
    transform: translateY(-8px);
    margin-left: 2px;

    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      color: $color-default-white;
    }
  }

  &__progress-icon {
    width: inherit;
    height: inherit;
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    left: 0;
  }

  &__progress-circle {
    stroke-dashoffset: 6px;

    .companions__profile--99 & {
      stroke-dashoffset: 0;
      stroke-dasharray: 104px;
    }

    .companions__profile--80 & {
      stroke-dashoffset: 0;
      stroke-dasharray: 89px;
    }

    .companions__profile--25 & {
      stroke-dashoffset: 104;
      stroke-dasharray: 130px;
    }

    .companions__profile--50 & {
      stroke-dashoffset: 36;
      stroke-dasharray: 89px;
    }
  }

  @include vp-1023 {
    background-color: $midnight-express;
  }

  // Декоративное разделение секций
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 52%;
    height: 100%;
    right: 0;
    top: 0;
    border-radius: 0 0 58px 58px;
    background-color: $blue-zodiac;

    @include vp-1023 {
      display: none;
    }
  }

  .container {
    position: relative;
    display: grid;
    grid-template-areas:
      "content profiles"
      "button profiles";
    grid-template-columns: 1fr 1fr;
    gap: 0 50px;

    @include vp-1023 {
      display: block;
    }
  }

  &__content {
    grid-area: content;
    max-width: 84%;
    margin-top: 50px;
    margin-left: 12px;

    @include vp-1023 {
      margin-left: 0;
    }

    @include vp-767 {
      margin-top: 13px;
      max-width: unset;
    }

    h2 {
      font-size: 81px;
      font-weight: 700;
      line-height: 70px;
      margin: 0;
      color: $midnight-express;
      text-transform: uppercase;
      word-break: break-all;
      letter-spacing: 0.5px;

      @include vp-1279 {
        font-size: 56px;
      }

      @include vp-1023 {
        font-size: 78px;
        letter-spacing: 2px;
        color: $color-default-white;
      }

      @include vp-767 {
        font-size: 40px;
        line-height: 44px;
        margin-left: 4px;
      }
    }

    p {
      margin: 27px 0 0;
      font-size: 24px;
      font-weight: 500;
      line-height: 33px;
      color: $midnight-express;


      @include vp-1279 {
        font-size: 20px;
      }

      @include vp-1023 {
        font-size: 24px;
        color: $color-default-white;
        margin-top: 38px;

        br {
          display: none;
        }
      }

      @include vp-767 {
        font-size: 14px;
        letter-spacing: -0.1px;
        line-height: 22px;
        margin-top: 6px;
        margin-left: 3px;

        br {
          display: inline;
        }
      }
    }
  }

  &__additional {
    p {
      font-size: 22px;
      font-weight: 300;
      line-height: 24px;
      margin-top: 54px;
      letter-spacing: -1.4px;

      @include vp-1279 {
        font-size: 20px;
      }

      @include vp-1023 {
        font-size: 22px;
        margin-top: 77px;
      }

      @include vp-767 {
        font-size: 13px;
        margin-top: 29px;
        margin-left: 0;
        margin-right: -10px;
        letter-spacing: -0.4px;
      }
    }
  }

  &__button {
    grid-area: button;
    margin-top: 68px;
    margin-left: 14px;
    min-width: 293px;
    max-width: 82%;

    align-self: self-start;
    justify-self: start;

    @include vp-1279 {
      font-size: 22px;
    }

    @include vp-1023 {
      display: block;
      justify-self: unset;
      margin-top: 75px;
      margin-left: 33px;
      margin-right: 38px;
      letter-spacing: 1px;
      max-width: unset;

      svg {
        right: 18px;
      }
    }

    @include vp-767 {
      margin: 59px 0 0;
      font-size: 20px;
      letter-spacing: -1px;
      padding: 19px 52px 18px 22px;
      min-width: unset;

      svg {
        top: 25px;
      }
    }
  }

  &__profiles {
    grid-area: profiles;
    margin: 32px 2% 0 0;
    padding: 0;
    list-style-type: none;
    justify-self: end;
    max-width: 602px;

    display: grid;
    align-items: start;
    gap: 30px;
    grid-template-columns: 1fr 1fr;

    @include vp-1023 {
      margin-top: 92px;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
      max-width: unset;
      gap: 20px 17%;
    }

    @include vp-767 {
      display: block;
      margin-top: 38px;
    }
  }

  &__profile {
    background-color: $color-default-white;
    border-radius: 22px;
    overflow: hidden;
    position: relative;
    padding-top: 253px;
    padding-bottom: 25px;
    min-height: 474px;

    transition: all $trans-default;

    user-select: none;
    cursor: pointer;

    @include vp-1023 {
      min-height: 484px;
      box-shadow: 0 0 10px 0 $color-default-white;

      padding-top: 275px;
    }

    @include vp-767 {
      padding-top: 261px;
      padding-bottom: 17px;

      border-radius: 12px;
      min-height: unset;

      .companions__profiles &:not(:last-child) {
        margin-bottom: 43px;
      }
    }

    &:hover {
      box-shadow: 0 0 10px 0 $color-default-white;
    }

    &::before {
      content: "";
      position: absolute;
      top: 265px;
      left: 0;
      right: 0;
      height: 50%;
      background-color: $color-default-white;
      z-index: 1;

      @include vp-1279 {
        display: none;
      }

      @include vp-767 {
        top: 271px;
      }
    }

    h3 {
      text-align: center;
      margin: 39px 30px 0;
      position: relative;
      z-index: 1;
      word-break: break-word;

      @include vp-1023 {
        margin-top: 17px;
      }

      @include vp-767 {
        margin-top: 13px;
      }

      span {
        font-size: 24px;
        font-weight: 700;
        line-height: 22px;
        color: $catalina-blue;
        position: relative;

        @include vp-1279 {
          font-size: 24px;
        }

        @include vp-767 {
          font-size: 20px;
          letter-spacing: 0.5px;
        }

        &::before {
          content: "";
          position: absolute;
          top: 11px;
          left: -22px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $salmon;

          @include vp-767 {
            top: 9px;
            left: -17px;
            width: 6px;
            height: 6px;
          }
        }
      }
    }

    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 23px;
      color: $charcoal;
      text-align: center;
      margin: 20px 10px 0;
      position: relative;
      z-index: 1;
      word-break: break-word;

      @include vp-1279 {
        font-size: 20px;
      }

      @include vp-767 {
        font-size: 16px;
        margin-top: 12px;
        line-height: 18px;
      }
    }

    &--online {
      h3 span::before {
        background-color: $lawn-green;
      }
    }

    &:nth-child(2n - 1) {
      margin-bottom: 60px;

      @include vp-1023 {
        margin: 0;
      }
    }

    &:nth-child(2n) {
      margin-top: 70px;

      @include vp-1023 {
        margin: 0;
      }
    }
  }

  &__avatar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 286px;

    @include vp-767 {
      height: 272px;
    }

    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }

  &__flags {
    margin: 0;
    padding: 0 20px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 1;
  }

  &__styles {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 11px;

    position: relative;
    z-index: 1;
    margin-top: 25px;

    @include vp-767 {
      margin-top: 10px;
      gap: 1px;
    }
  }

  &__style {
    width: 23px;
    height: 22px;

    @include vp-767 {
      width: 32px;
      height: 32px;

      position: relative;
    }

    svg {
      width: 27px;
      height: 22px;

      @include vp-767 {
        color: $catalina-blue;
        width: 20.83px;
        height: 21.12px;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--disabled {
      opacity: 0.15;

      @include vp-767 {
        opacity: 1;

        svg {
          opacity: 0.15;
        }
      }
    }
  }
  //=============================================================================================================================================
  // Карточки в каталоге. Начало. ===============================================================================================================
  //=============================================================================================================================================
  &--cards {
    margin: 0;

    @include vp-1023 {
      background-color: transparent;
    }

    &::before {
      display: none;
    }

    .companions {
      &__like-button {
        @include vp-767 {
          position: absolute;
          top: 56px;
          left: 67px;

          .like-btn {
            &__icon-wrapper {
              width: 30px;
              height: 30px;

              svg {
                transform: translate(-50%, -50%) scale(0.6);
              }
            }


            &__value {
              font-size: 14px;
              font-weight: 700;
              line-height: 16px;
            }
          }
        }
      }

      &__profile {
        padding: 0;
        min-height: 285px;

        display: grid;
        justify-content: start;
        justify-items: start;
        align-items: start;
        align-content: start;
        grid-template-areas:
          "avatar title flags flags"
          "avatar description flags flags"
          "avatar buttons-wrapper styles progress";
        grid-template-columns: 30% 39% 20% 104px;
        grid-template-rows: auto 1fr auto auto;

        @include vp-1023 {
          grid-template-areas:
            "avatar title styles"
            "avatar description styles"
            "avatar buttons-wrapper progress"
            "flags flags flags";
          grid-template-columns: 240px 1fr 90px;
          grid-template-rows: auto 1fr auto;
        }

        @include vp-767 {
          padding-bottom: 26px;
          grid-template-areas:
            "avatar title title"
            "description description description"
            "flags flags flags"
            "styles styles progress"
            "buttons-wrapper buttons-wrapper buttons-wrapper";
          grid-template-columns: 89px 1fr 98px;
        }

        h3 {
          grid-area: title;

          text-align: left;

          margin-top: 47px;
          margin-left: 17%;
          margin-right: 0;

          @include vp-1023 {
            margin-top: 33px;
            margin-left: 17px;
            margin-right: 40px;
          }

          @include vp-767 {
            line-height: 21px;

            margin: 15px 15px 0;
          }
        }

        h3 span {
          font-size: 30px;
          line-height: 30px;

          @include vp-1279 {
            font-size: 26px;
          }

          @include vp-1023 {
            font-size: 30px;
          }

          @include vp-767 {
            font-size: 20px;
            line-height: 20px;

            max-width: 112px;
            display: block;
          }
        }

        h3 span::before {
          top: 15px;
          left: -26px;
          width: 8px;

          @include vp-1023 {
            left: unset;
            right: -31px;
          }

          @include vp-767 {
            top: 10px;
            width: 6px;
            height: 6px;
            right: -31px;
          }
        }

        p {
          grid-area: description;

          text-align: left;

          margin-left: 17%;
          margin-top: 20px;
          margin-right: 0;

          max-width: 60%;

          @include vp-1279 {
            font-size: 14px;
          }

          @include vp-1023 {
            font-size: 20px;
            margin-left: 6%;
            margin-top: 18px;
          }

          @include vp-767 {
            font-size: 15px;
            font-weight: 400;
            line-height: 18px;

            margin-left: 10%;
            margin-top: 13px;
            max-width: 196px;
          }
        }

        &:nth-child(2n-1) {
          margin-bottom: 30px;

          @include vp-1023 {
            margin-bottom: 40px;
          }

          @include vp-767 {
            padding-bottom: 26px;
            margin-bottom: 9px;
          }
        }

        &:nth-child(2n) {
          margin-top: unset;
          margin-bottom: 30px;

          @include vp-1023 {
            margin-bottom: 40px;
          }

          @include vp-767 {
            padding-bottom: 26px;
            margin-bottom: 9px;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          display: none;
        }

        &:hover {
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
        }
      }

      &__flags {
        grid-area: flags;

        display: block;
        margin-top: 50px;
        margin-left: 6%;
        padding: 0;

        width: unset;
        max-width: 175px;

        @include vp-1023 {
          max-width: unset;
          width: 100%;
          margin: 0 0 23px;
          padding: 50px 35px 0;

          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;

          position: relative;

          gap: 13px;

          &::before {
            content: "хочет посетить:";
            position: absolute;
            top: 14px;
            left: 84px;

            font-size: 15px;
            font-weight: 400;
            line-height: 16px;
            color: $charcoal;
            background-color: $color-default-white;
            z-index: 1;

            @include vp-767 {
              left: 24px;
              letter-spacing: -0.5px;
            }
          }

          &::after {
            content: "";
            position: absolute;
            top: 22px;
            left: 0;
            right: 0;
            height: 1px;
            background-color: rgb(237, 239, 246);
          }
        }

        @include vp-767 {
          margin-bottom: 4px;
          padding: 44px 12px 0 25px;

          display: block;
        }
      }

      &__flag {
        position: relative;
        padding: 0 0 0 53px;

        display: flex;
        align-items: center;
        min-height: 29px;

        @include vp-767 {
          padding-left: 40px;
        }

        &:not(:last-child) {
          margin-bottom: 8px;

          @include vp-1023 {
            margin-bottom: 0;
          }
        }

        span {
          font-size: 20px;
          font-weight: 500;
          line-height: 20px;
          text-transform: uppercase;
          color: $catalina-blue;

          @include vp-1279 {
            font-size: 16px;
          }

          @include vp-1023 {
            font-size: 20px;
          }

          @include vp-767 {
            font-size: 15px;
            line-height: 16px;
          }
        }

        img {
          position: absolute;
          left: 0;
          top: 0;

          @include vp-1023 {
            width: 43.5px;
            height: 25px;
          }

          @include vp-767 {
            width: 26px;
            height: 18px;
            top: 3px;
          }
        }
      }

      &__avatar {
        grid-area: avatar;

        position: relative;
        display: block;
        width: 100%;
        height: 100%;

        @include vp-1023 {
          margin-top: 35px;
          margin-left: 35px;

          width: 190px;
          height: 190px;
        }


        @include vp-767 {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          overflow: hidden;

          margin: 15px 0 0 18px;
        }

        img {
          width: 285px;
          height: 285px;

          @include vp-1023 {
            width: 100%;
            height: 100%;
          }
        }
      }

      &__styles {
        grid-area: styles;

        justify-content: start;
        margin-left: 9%;
        margin-top: 18px;
        margin-bottom: unset;

        width: unset;

        @include vp-1023 {
          margin: 38px 0 0 21px;

          display: block;
        }

        @include vp-767 {
          margin-top: 0;
          margin-left: 0;
          padding-top: 31px;
          padding-left: 21px;

          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;

          position: relative;

          width: 100%;
          gap: 1px;

          // Подпись для раздела.
          &::before {
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            color: $charcoal;
            background-color: $color-default-white;

            z-index: 1;

            content: "транспорт:";
            position: absolute;
            top: 0;
            left: 25px;
          }

          // Подчеркивание для раздела.
          &::after {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            right: 0;
            height: 1px;
            background-color: rgb(237, 239, 246);
          }
        }
      }

      &__style {
        @include vp-767 {
          background-color: $solitude;
          border-radius: 50%;

          svg {
            width: 14px;
            height: 17px;
          }
        }

        &:not(:last-child) {
          margin-bottom: 10px;

          @include vp-767 {
            margin-bottom: 0;
          }
        }
      }

      &__buttons-wrapper {
        @include vp-1023 {
          justify-self: unset;

          margin: 17px 10px 0 14px;
          gap: 7px;
        }
      }

      &__progress {
        grid-area: progress;

        width: 63px;
        height: 63px;
        padding-top: 12px;
        padding-left: 0;
        overflow: visible;
        margin-bottom: 37px;

        position: relative;
        top: unset;
        left: unset;
        z-index: unset;

        background-color: transparent;

        @include vp-1023 {
          margin-left: 4px;
          margin-top: 14px;
          margin-bottom: 0;
        }

        @include vp-767 {
          overflow: visible;
          width: 100%;

          margin: 0;
          padding: 0;

          &::before {
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            color: $charcoal;
            background-color: $color-default-white;

            z-index: 1;

            content: "левел:";
            position: absolute;
            top: 0;
            right: 22px;
          }

          &::after {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            right: 0;
            height: 1px;
            background-color: rgb(237, 239, 246);
          }
        }
      }

      &__progress-circle {
        stroke: rgb(255, 141, 48);
        stroke-width: 2px;
      }

      &__progress-value {
        max-width: 27px;
        margin: 0 auto;
        overflow: hidden;

        @include vp-767 {
          line-height: 20px;

          position: absolute;
          top: 51px;
          left: 50%;
          right: 10px;

          transform: translate(-50%, -50%);
        }

        span {
          color: $catalina-blue;
        }

        span::before {
          background-color: rgb($color-default-black, 0.1);

          @include vp-767 {
            display: none;
          }
        }
      }

      &__progress-level {
        margin: 2px auto 0;

        max-width: 27px;
        overflow: hidden;

        span {
          color: rgb($color-default-black, 0.4);
        }

        @include vp-767 {
          display: none;
        }
      }

      &__progress-icon {
        overflow: visible;
        width: 61px;
        height: 61px;
        top: -2px;
        left: 1px;

        @include vp-767 {
          top: 26px;
          left: unset;
          right: 22px;
          width: 43px;
          height: 43px;

          circle {
            stroke-width: 2px;
          }
        }
      }
    }
  }

  &__buttons-wrapper {
    grid-area: buttons-wrapper;

    margin-top: 6px;
    margin-left: 14%;

    display: flex;
    gap: 4px;

    justify-self: stretch;

    @include vp-767 {
      margin: 28px 20px 0;

      width: 86%;
    }
  }

  &__call-button {
    font-size: 20px;
    padding-left: 28px;
    padding-top: 13px;
    padding-right: 29px;
    min-width: unset;

    @include vp-1279 {
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
    }

    @include vp-1023 {
      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
      padding-left: 37px;
      padding-right: 37px;
    }

    @include vp-767 {
      font-size: 17px;
      font-weight: 700;
      line-height: 17px;

      width: 100%;
      padding-top: 5px;
      padding-bottom: 0;
      min-height: 40px;
    }
  }
}
