.companions {
  padding-top: 100px;
  padding-bottom: 128px;
  min-height: 400px;

  @include vp-1023 {
    padding-top: 79px;
    padding-bottom: 70px;
    border-radius: 0 0 58px 58px;
    z-index: 4;
  }

  @include vp-767 {
    padding-top: 79px;
    padding-bottom: 40px;
    border-radius: 0 0 28px 32px;
    position: relative;
  }

  &__progress {
    padding: 15px 0 5px 0;
    width: 60px;
    height: 60px;
    background-color: rgb($color-default-black, 0.6);
    position: absolute;
    border-radius: 50%;
    overflow: hidden;

    top: 20px;
    left: 22px;
    z-index: 1;
  }

  &__progress-value {
    text-align: center;

    span {
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      color: $color-default-white;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        bottom: 4px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgb($color-default-white, 0.3);
      }
    }
  }

  &__progress-level {
    text-align: center;
    transform: translateY(-8px);
    margin-left: 2px;

    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      color: $color-default-white;
    }
  }

  &__progress-icon {
    width: inherit;
    height: inherit;
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    left: 0;
  }

  &__progress-circle {
    stroke-dashoffset: 6px;

    .companions__profile--99 & {
      stroke-dashoffset: 0;
      stroke-dasharray: 104px;
    }

    .companions__profile--80 & {
      stroke-dashoffset: 0;
      stroke-dasharray: 89px;
    }

    .companions__profile--25 & {
      stroke-dashoffset: 104;
      stroke-dasharray: 130px;
    }

    .companions__profile--50 & {
      stroke-dashoffset: 36;
      stroke-dasharray: 89px;
    }
  }

  @include vp-1023 {
    background-color: $midnight-express;
  }

  // Декоративное разделение секций
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 52%;
    height: 100%;
    right: 0;
    top: 0;
    border-radius: 0 0 58px 58px;
    background-color: $blue-zodiac;

    @include vp-1023 {
      display: none;
    }
  }

  .container {
    position: relative;
    display: grid;
    grid-template-areas:
      "content profiles"
      "button profiles";
    grid-template-columns: 1fr 1fr;
    gap: 0 50px;

    @include vp-1023 {
      display: block;
    }
  }

  &__content {
    grid-area: content;
    max-width: 84%;
    margin-top: 63px;
    margin-left: 12px;

    @include vp-1023 {
      margin-left: 0;
    }

    @include vp-767 {
      margin-top: 13px;
      max-width: unset;
    }

    h2 {
      font-size: 81px;
      font-weight: 700;
      line-height: 45px;
      margin: 0;
      color: $midnight-express;
      text-transform: uppercase;
      word-break: break-all;
      letter-spacing: 0.5px;

      @include vp-1279 {
        font-size: 56px;
      }

      @include vp-1023 {
        font-size: 78px;
        letter-spacing: 2px;
        color: $color-default-white;
      }

      @include vp-767 {
        font-size: 40px;
        margin-left: 4px;
      }
    }

    p {
      margin: 38px 0 0;
      font-size: 24px;
      font-weight: 500;
      line-height: 33px;
      color: $midnight-express;


      @include vp-1279 {
        font-size: 20px;
      }

      @include vp-1023 {
        font-size: 24px;
        color: $color-default-white;
        margin-top: 48px;

        br {
          display: none;
        }
      }

      @include vp-767 {
        font-size: 14px;
        letter-spacing: -0.1px;
        line-height: 22px;
        margin-top: 6px;
        margin-left: 3px;
      }

      br {
        display: inline;
      }
    }
  }

  &__additional {
    p {
      font-size: 22px;
      font-weight: 300;
      line-height: 24px;
      margin-top: 54px;
      letter-spacing: -1.4px;

      @include vp-1279 {
        font-size: 20px;
      }

      @include vp-1023 {
        font-size: 22px;
        margin-top: 44px;
      }

      @include vp-767 {
        font-size: 13px;
        margin-top: 29px;
        margin-left: 0;
        margin-right: -10px;
        letter-spacing: -0.4px;
      }
    }
  }

  &__button {
    grid-area: button;
    margin-top: 76px;
    margin-left: 14px;
    min-width: 293px;
    max-width: 600px;

    align-self: self-start;
    justify-self: start;

    @include vp-1279 {
      font-size: 22px;
    }

    @include vp-1023 {
      display: block;
      justify-self: unset;
      margin-left: 33px;
      margin-right: 38px;
      letter-spacing: 1px;
      max-width: unset;

      svg {
        right: 18px;
      }
    }

    @include vp-767 {
      margin: 62px 0 0;
      font-size: 20px;
      letter-spacing: -1px;
      padding: 19px 52px 18px 22px;
      min-width: unset;

      svg {
        top: 25px;
      }
    }
  }

  &__profiles {
    grid-area: profiles;
    margin: 32px 2% 0 0;
    padding: 0;
    list-style-type: none;
    justify-self: end;
    max-width: 602px;

    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;

    @include vp-1023 {
      margin-top: 92px;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
      max-width: unset;
      gap: 20px 17%;
    }

    @include vp-767 {
      display: block;
      margin-top: 37px;
    }
  }

  &__profile {
    background-color: $color-default-white;
    border-radius: 22px;
    overflow: hidden;
    position: relative;
    padding-top: 253px;
    padding-bottom: 20px;
    min-height: 474px;

    transition: all $trans-default;

    user-select: none;
    cursor: pointer;

    @include vp-1023 {
      min-height: 484px;
      box-shadow: 0 0 10px 0 $color-default-white;
    }

    @include vp-767 {
      border-radius: 10px;
      min-height: unset;

      .companions__profiles &:not(:last-child) {
        margin-bottom: 47px;
      }
    }

    &:hover {
      box-shadow: 0 0 10px 0 $color-default-white;
    }

    &::before {
      content: "";
      position: absolute;
      top: 265px;
      left: 0;
      right: 0;
      height: 50%;
      background-color: $color-default-white;
      z-index: 1;
    }

    h3 {
      text-align: center;
      margin: 32px 30px 0;
      position: relative;
      z-index: 1;
      word-break: break-word;

      @include vp-767 {
        margin-top: 13px;
      }

      span {
        font-size: 24px;
        font-weight: 700;
        line-height: 22px;
        color: $catalina-blue;
        position: relative;

        @include vp-1279 {
          font-size: 20px;
        }

        &::before {
          content: "";
          position: absolute;
          top: 11px;
          left: -20px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $salmon;
        }
      }
    }

    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 23px;
      color: $charcoal;
      text-align: center;
      margin: 20px 10px 0;
      position: relative;
      z-index: 1;
      word-break: break-word;

      @include vp-1279 {
        font-size: 16px;
      }

      @include vp-767 {
        margin-top: 8px;
      }
    }

    &--online {
      h3 span::before {
        background-color: $lawn-green;
      }
    }

    &:nth-child(2n - 1) {
      margin-bottom: 60px;

      @include vp-1023 {
        margin: 0;
      }
    }

    &:nth-child(2n) {
      margin-top: 70px;

      @include vp-1023 {
        margin: 0;
      }
    }
  }

  &__avatar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 285px;

    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }

  &__flags {
    margin: 0;
    padding: 0 20px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 1;
  }

  &__styles {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 11px;

    position: relative;
    z-index: 1;
    margin-top: 25px;

    @include vp-767 {
      margin-top: 8px;
    }
  }

  &__style {
    width: 23px;
    height: 22px;

    svg {
      width: 27px;
      height: 22px;
    }

    &--disabled {
      opacity: 0.15;
    }
  }

  // Карточки в каталоге.

  &--cards {
    margin: 0;

    @include vp-1023 {
      background-color: transparent;
    }

    &::before {
      display: none;
    }

    .companions__profile {
      padding: 0;
      min-height: 285px;

      display: grid;
      justify-content: start;
      justify-items: start;
      align-items: start;
      align-content: start;
      grid-template-areas:
        "avatar title flags flags"
        "avatar description flags flags"
        "avatar buttons-wrapper styles progress";
      grid-template-columns: 30% 39% 20% 104px;
      grid-template-rows: auto 1fr auto auto;

      &:nth-child(2n-1) {
        margin-bottom: 30px;
      }

      &:nth-child(2n) {
        margin-top: unset;
        margin-bottom: 30px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        display: none;
      }

      &:hover {
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
      }
    }

    .companions__flags {
      grid-area: flags;

      display: block;
      margin-top: 50px;
      margin-left: 6%;
      padding: 0;

      width: unset;
    }

    .companions__flag {
      position: relative;
      padding: 0 0 0 54px;

      display: flex;
      align-items: center;
      min-height: 29px;

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      span {
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        text-transform: uppercase;
        color: $catalina-blue;
      }

      svg {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    h3 {
      grid-area: title;

      text-align: left;

      margin-top: 47px;
      margin-left: 17%;
      margin-right: 0;

      span {
        font-size: 30px;
        line-height: 30px;

        &::before {
          top: 15px;
          left: -26px;
          width: 8px;
        }
      }
    }

    p {
      grid-area: description;

      text-align: left;

      margin-left: 17%;
      margin-top: 20px;
      margin-right: 0;

      max-width: 60%;
    }

    .companions__avatar {
      grid-area: avatar;

      position: relative;
      display: block;
      width: 100%;
      height: 100%;

      img {
        width: 285px;
        height: 285px;
      }
    }

    .companions__styles {
      grid-area: styles;

      justify-content: start;
      margin-left: 9%;
      margin-top: 18px;
      margin-bottom: unset;

      width: unset;
    }

    .companions__progress {
      grid-area: progress;

      width: 63px;
      height: 63px;
      padding-top: 12px;
      padding-left: 0;
      overflow: visible;
      margin-bottom: 37px;

      position: relative;
      top: unset;
      left: unset;
      z-index: unset;

      background-color: transparent;

      .companions__progress-circle {
        stroke: rgb(255, 141, 48);
        stroke-width: 2px;
      }

      .companions__progress-value {
        max-width: 27px;
        margin: 0 auto;
        overflow: hidden;
      }

      .companions__progress-value span {
        color: $catalina-blue;

        &::before {
          background-color: rgb($color-default-black, 0.1);
        }
      }

      .companions__progress-level {
        margin: 2px auto 0;

        max-width: 27px;
        overflow: hidden;
      }

      .companions__progress-level span {
        color: rgb($color-default-black, 0.4);
      }
    }


    .companions__progress-icon {
      overflow: visible;
      width: 61px;
      height: 61px;
      top: -2px;
      left: 1px;
    }
  }

  &__buttons-wrapper {
    grid-area: buttons-wrapper;

    margin-top: 6px;
    margin-left: 14%;

    display: flex;
    gap: 4px;
  }

  &__call-button {
    font-size: 20px;
    padding-left: 21px;
    padding-top: 13px;
    padding-right: 21px;
    min-width: 152px;
  }
}
