.contacts {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  align-content: flex-start;

  @include vp-1023 {
    display: block;

    &__link {
      display: flex;
      align-items: top;
    }
  }

  &__item:not(:last-child) {
    @include vp-1023 {
      margin-bottom: 6px;
    }
  }

  &__link {
    *, & {
      transition: all $trans-default;
    }

    @include hover-focus {
      * {
        color: $picton-blue;
      }

      .contacts__icon {
        background-color: $curious-blue;
      }

      &:active {
        .contacts__icon {
          background-color: $curious-blue;

          svg {
            opacity: 0.3;
          }
        }
      }

      @include vp-1023 {
        .contacts__text {
          color: $curious-blue;
        }

        &:active {
          .contacts__text {
            color: rgb($curious-blue, 0.3);
          }
        }
      }
    }
  }

  &__text,
  &__icon,
  &__icon svg {
    transition: all $trans-default;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $jordy-blue;
    font-size: 0;
    color: $midnight-express-2;

    &--mobile {
      display: none;
    }

    @include vp-1023 {
      display: inline-flex;
      margin-right: 16px;
      background-color: $midnight-express-2;
      color: $pale-cornflower-blue;
      width: 45px;
      height: 45px;

      &--desktop {
        display: none;
      }
    }
  }

  &__text {
    font-size: 0;
    display: none;

    @include vp-1023 {
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      word-break: break-word;
      color: $midnight-express;
      display: inline-block;
      align-self: center;
      max-width: 200px;
    }
  }
}
