.contacts {
  font-size: 0;

  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 50px;
  height: 50px;

  display: flex;
  gap: 7px;
  width: 150px;
  flex-wrap: wrap;

  &__link,
  &__link svg {
    transition: all $trans-default;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $jordy-blue;

    @include hover-focus {
      background-color: $curious-blue;

      &:active {
        svg {
          opacity: 0.3;
        }
      }
    }
  }
}
