.directions {
  padding-top: 155px;
  padding-bottom: 100px;
  margin-bottom: -62px;
  background-color: $color-default-white;
  min-height: 765px;

  @include vp-1023 {
    padding-top: 117px;
    padding-bottom: 98px;
    background-color: $solitude;
    border-radius: 0 0 58px 58px;
    z-index: 5;
  }

  @include vp-767 {
    padding-top: 111px;
    background-color: $solitude;
    padding-bottom: 53px;
    border-radius: 0 0 28px 31px;
    overflow: hidden;
  }

  // Декоративное разделение секций
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 52%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0 0 58px 58px;
    background-color: $solitude;
    z-index: 1;

    @include vp-1023 {
      width: 100%;
    }

    @include vp-767 {
      display: none;
    }
  }

  .container {
    padding: 0 32px 0 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "swiper content"
      "swiper button";
    position: relative;

    @include vp-1023 {
      display: block;
      padding-left: 45px;
      padding-right: 32px;
    }

    @include vp-767 {
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  &__swiper {
    grid-area: swiper;
    margin: 0;
    width: 98%;
    height: 440px;
    background-color: $solitude;
    position: relative;
    overflow: hidden;
    z-index: 1;

    @include vp-1023 {
      margin-top: 73px;
    }

    @include vp-767 {
      height: unset;
      width: unset;
      margin-top: 41px;
    }

    h3 {
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      color: $color-default-black;
      margin: 0;
      word-break: break-all;

      @include vp-1279 {
        font-size: 20px;
      }

      @include vp-1023 {
        font-size: 24px;
      }

      @include vp-767 {
        font-size: 21px;
        margin-top: 1px;
        margin-left: 4px;
        position: relative;
        z-index: 1;
        grid-area: title;
      }
    }

    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 20px;
      color: rgb($charcoal, 0.3);
      margin: 4px 0 0 1px;

      @include vp-1279 {
        font-size: 14px;
      }

      @include vp-1023 {
        font-size: 20px;
        margin: 5px 0 0 0;
      }

      @include vp-767 {
        font-size: 16px;
        margin-left: 5px;
        margin-top: 0;
        grid-area: description;
      }
    }

    // Закрашивание сверху и снизу
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 10px;
      left: 0;
      z-index: 1;
      background-color: $solitude;

      @include vp-767 {
        display: none;
      }
    }

    &::before {
      top: -1px;
    }

    &::after {
      bottom: -1px;
    }
  }

  &__status {
    flex-grow: 1;
    justify-items: self-end;

    display: flex;
    align-items: flex-end;

    @include vp-767 {
      grid-area: status;
      display: inline;
      z-index: 1;
      text-align: right;
      margin-top: 1px;
    }

    svg {
      margin-left: 1px;
      width: 21px;
      height: 21px;
      transform: translateY(2px);

      @include vp-1023 {
        margin-left: 0;
      }

      @include vp-767 {
        width: 12px;
        height: 11px;
        transform: translateY(0);
      }
    }

    span {
      font-size: 20px;
      font-weight: 500;
      line-height: 20px;
      color: rgb($midnight-express-3, 0.3);
      margin-left: 13px;
      word-break: break-all;

      @include vp-1279 {
        font-size: 14px;
      }

      @include vp-1023 {
        font-size: 20px;
      }

      @include vp-767 {
        font-size: 16px;
        margin-left: 8px;
      }
    }
  }

  // Градиенты размытия наверху и внизу
  &__fade {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0);
    height: 81px;
    pointer-events: none;

    @include vp-767 {
      display: none;
    }

    img {
      width: inherit;
      height: inherit;
    }

    &--top {
      top: 8px;
      width: 100%;
    }

    &--bottom {
      bottom: 8px;
      width: 100%;
    }
  }

  &__swiper-wrapper {
    margin: 0 auto;

    @include vp-767 {
      display: flex;
      flex-direction: column;
      margin: 0 19px;
      padding-bottom: 12px;
    }
  }

  &__slide {
    padding: 25px 270px 22px 32px;
    background: $color-default-white;
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 rgb($color-default-black, 0.3);
    user-select: none;
    opacity: 0;
    transition: all $trans-default;
    position: relative;
    width: 94%;
    margin: 0 auto;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    &--active,
    &--prev,
    &--next {
      opacity: 1;
    }

    &--prev,
    &--next {
      width: 91%;
    }

    @include vp-1023 {
      padding: 30px 270px 21px 30px;
      width: 94%;

      &--prev,
      &--next {
        width: 91%;
      }
    }

    // Необходима заглушка для того, чтобы было минимум 4 слайда
    // на desktop и tablet для правильной работы swiper.
    @include vp-767 {
      opacity: 1;
      width: 100%;
      margin-bottom: 11px;
      padding: 130px 18px 8px 20px;
      min-height: 198px;
      border-radius: 10px;
      overflow-y: unset;

      display: grid;
      grid-template-columns: 1fr 80px;
      grid-template-areas:
        "title status"
        "description description";
      align-content: start;

      // Декоративное разделение картинки с контентом

      &::before {
        content: "";
        position: absolute;
        top: 104px;
        left: 0;
        width: 100%;
        height: 20%;
        border-radius: 10px 10px 0 0;
        background-color: $color-default-white;
        z-index: 1;
      }

      &--plug {
        display: none;
      }

      &--3 {
        order: -1;
      }
    }
  }

  &__picture {
    max-width: 201px;
    min-width: 186px;
    height: 140px;

    position: absolute;
    right: 0;
    top: 0;

    img {
      max-width: inherit;
      min-width: inherit;
      height: 140px;
    }

    @include vp-1023 {
      max-width: 192px;
      height: 140px;
      overflow: hidden;
    }

    @include vp-767 {
      max-width: unset;
      height: 110px;
      left: 0;
      top: 0;
      overflow: hidden;
      width: 100%;
      border-radius: 10px 10px 0 0;

      img {
        width: 100%;
        object-fit: cover;
        height: inherit;
      }
    }
  }

  &__flag {
    position: absolute;
    width: 70px;
    height: 47px;
    right: 172px;
    top: 23px;

    @include vp-1023 {
      right: 169px;
      top: 17px;
    }

    @include vp-767 {
      top: 88px;
      left: 25px;
      width: 35px;
      height: 32px;
      z-index: 1;

      img {
        width: inherit;
        height: inherit;
      }
    }
  }

  &__content {
    grid-area: content;
    margin-top: 11px;
    margin-left: 20%;

    @include vp-1023 {
      position: relative;
      z-index: 1;
      margin: 0;
    }

    @include vp-767 {
      br {
        display: none;
      }
    }

    h2 {
      font-size: 61px;
      font-weight: 700;
      line-height: 45px;
      color: $midnight-express;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin: 0;
      word-break: break-all;

      @include vp-1279 {
        font-size: 46px;
      }

      @include vp-1023 {
        font-size: 79px;
        text-align: center;
        line-height: 70px;
        letter-spacing: 3px;
        transform: translateX(-15px);
      }

      @include vp-767 {
        font-size: 35px;
        font-weight: 700;
        line-height: 36px;
        transform: translateX(0);
        letter-spacing: 2.4px;
        margin: 0 8px 0 19px;
      }
    }

    p {
      font-size: 23px;
      font-weight: 500;
      line-height: 33px;
      color: $charcoal;
      margin: 28px 0 0;
      max-width: 516px;

      @include vp-1279 {
        font-size: 20px;
      }

      @include vp-1023 {
        font-size: 27px;
        margin: 36px auto;
        letter-spacing: -1.6px;
        max-width: 600px;
      }

      @media (max-width: 770px) {
        margin: 36px 0 0 29px;
      }

      @include vp-767 {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        max-width: unset;
        letter-spacing: 0;
        margin: 17px 17px 0 19px;
        grid-area: description;
      }
    }
  }

  &__button {
    grid-area: button;
    margin-top: 155px;
    margin-left: 21%;
    padding-left: 36px;
    min-width: 300px;
    width: fit-content;
    z-index: 1;

    svg {
      right: 36px;
    }

    @include vp-1023 {
      margin: 95px 41px 0 29px;
      display: block;
      width: unset;

      svg {
        right: 16px;
      }
    }

    @include vp-767 {
      margin: 0 19px;
      padding: 21px 48px 20px 23px;
      min-width: unset;

      svg {
        top: 26px;
        right: 19px;
      }
    }
  }
}
