.filter {
  padding-top: 60px;
  padding-bottom: 150px;

  @include vp-1023 {
    margin-top: -60px;
    padding-top: 121px;
    padding-bottom: 20px;

    position: relative;

    background-color: $lavender;
    border-radius: 0 0 58px 58px;
  }

  .container {
    @include vp-1023 {
      display: grid;
      grid-template-areas:
        "header hide-button"
        "alphabet alphabet";
      justify-content: space-between;
      gap: 0 10px;
    }
  }

  &__header {
    margin: 2px 20px 30px;

    @include vp-1023 {
      grid-area: header;
      margin-left: 31px;
      min-width: 400px;
    }

    svg {
      transform: translateY(-2px);

      @include vp-1023 {
        display: none;
      }
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: $midnight-express;

    margin: 0 0 0 18px;
    display: inline;

    @include vp-1023 {
      @include visually-hidden;
    }
  }

  &__continents {
    list-style-type: none;
    margin: 0 0 0 1px;
    padding: 0;
    user-select: none;

    display: inline;
  }

  &__continent {
    display: inline;
    margin: 0 20px 0 0;

    @include vp-1023 {
      margin-right: 17px;
    }

    &--active .filter__continent-button {
      opacity: 1;
    }
  }

  &__continent-button {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: $midnight-express;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    user-select: none;
    word-break: break-all;

    transition: all $trans-default;
    opacity: 0.3;

    @include hover-focus {
      opacity: 0.6;

      &:active {
        opacity: 1;
      }
    }
  }

  // Контент на desktop начало
  &__content {
    margin: 0 49px 0 37px;
    padding: 0;

    list-style-type: none;
    overflow: hidden;
    transition: all $trans-default;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: 70px 20px;

    @include vp-1023 {
      display: none;
    }

    &.js-is-open {
      margin-top: 70px;
    }
  }

  &__item {
    min-width: 184px;
  }

  &__letter {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    color: $midnight-express;
  }

  &__countries {
    list-style-type: none;
    margin: 30px 0 0;
    padding: 0;
  }

  &__country-button {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: $charcoal;

    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
  }

  &__hide-button {
    display: block;
    width: 100%;
    background-color: $hawkes-blue;
    text-transform: uppercase;

    @include hover-focus {
      background-color: $periwinkle;

      @include vp-1023 {
        background-color: transparent;

        .filter__hide-button-inner-content {
          opacity: 0.6;
        }
      }

      &:active {
        .filter__hide-button-inner-content {
          opacity: 0.3;
        }
      }
    }

    svg {
      position: unset;
      top: unset;
      right: unset;
    }

    &.js-is-open {
      margin-top: 50px;

      .filter__hide-button-icon--open {
        opacity: 0;
      }

      .filter__hide-button-icon--close {
        opacity: 1;
      }
    }

    @include vp-1023 {
      // Кнопка вне контейнера алфавита
      &--outer {
        grid-area: hide-button;
        font-size: 20px;
        padding: 0 72px 0 0;
        background-color: transparent;
        width: unset;

        align-self: start;

        .filter__hide-button-icon {
          left: unset;
          right: 12px;
          top: -5px;

          transition: all $trans-default;
          opacity: 0;

          &--open {
            width: 33px;
            height: 6px;
            opacity: 1;

            svg {
              width: 33px;
              height: 6px;
            }
          }

          &--close {
            top: 0;
            right: 34px;
          }
        }

        &.js-is-open {
          margin: 0;
        }
      }
    }
  }

  // Контент на desktop конец

  // Контент внутри кнопки

  &__hide-button-inner-content {
    position: relative;
    margin: 0 40px;
    transition: all $trans-default;

    @include vp-1023 {
      position: unset;
      margin: 0;
    }
  }

  &__hide-button-icon {
    position: absolute;
    left: -32px;
    top: 3px;

    &--close {
      opacity: 0;
    }

    &--open {
      opacity: 1;
    }
  }

  &__tablet-content-wrapper {
    display: none;

    @include vp-1023 {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 50px;
      display: block;
      grid-area: alphabet;

      padding-top: 60px;
      padding-bottom: 79px;
      border-radius: 0 0 58px 58px;

      overflow: hidden;
      transform: translateY(100%);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $lavender;
        z-index: -1;
        transform: translateY(-100%);
        opacity: 0;

        transition: all $trans-default;
      }

      &.js-is-open {
        .filter__tablet-content {
          transform: translateY(0);
          opacity: 1;
        }

        &::before {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }

  &__tablet-content {
    margin: 0 74px;

    display: grid;
    grid-template-columns: 3fr 28.5%;
    transition: all $trans-default;
    transform: translateY(-100%);
    opacity: 0;
  }

  &__tablet-alphabet {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 17.3%);
    gap: 23px 0;
    align-content: start;
  }

  &__tablet-letter-button {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    color: $midnight-express;

    border: none;
    padding: 0;
    background-color: transparent;

    user-select: none;
    cursor: pointer;

    display: block;
  }

  &__selected-letter-content {
    list-style-type: none;
    margin: -4px 0 0;
    padding: 0;
  }

  &__tablet-country-button {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: $midnight-express;

    user-select: none;
    cursor: pointer;

    border: none;
    padding: 0;
    background-color: transparent;

    display: block;
  }

  &__hide-button--inner {
    margin-top: 95px;
    padding-top: 42px;
    padding-left: 100px;
    padding-bottom: 38px;
    font-size: 20px;
    line-height: 20px;

    grid-column: span 2;

    .filter__hide-button-inner-content {
      position: relative;
    }

    .filter__hide-button-icon {
      left: 10px;
      top: 4px;

      &--close {
        left: 2px;
        top: 3px;

        @include vp-1023 {
          opacity: 1;
          left: -1px;
          top: -2px;
        }
      }
    }

    .filter__hide-button-text {
      margin: 0 40px;
    }
  }
}
