.filter {
  padding-top: 60px;
  padding-bottom: 150px;
  min-height: 500px;

  @include vp-1023 {
    padding-top: 61px;
  }

  .container {
    @include vp-1023 {
      display: flex;
      justify-content: space-between;
      gap: 0 10px;
    }
  }

  &__header {
    margin: 2px 20px 30px;

    @include vp-1023 {
      margin-left: 31px;
      min-width: 400px;
    }

    svg {
      transform: translateY(-2px);

      @include vp-1023 {
        display: none;
      }
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: $midnight-express;

    margin: 0 0 0 18px;
    display: inline;

    @include vp-1023 {
      @include visually-hidden;
    }
  }

  &__continents {
    list-style-type: none;
    margin: 0 0 0 1px;
    padding: 0;

    display: inline;
  }

  &__continent {
    display: inline;
    margin: 0 20px 0 0;

    @include vp-1023 {
      margin-right: 17px;
    }

    &--active .filter__continent-button {
      opacity: 1;
    }
  }

  &__continent-button {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: $midnight-express;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    user-select: none;
    word-break: break-all;

    transition: all $trans-default;
    opacity: 0.3;

    @include hover-focus {
      opacity: 0.6;

      &:active {
        opacity: 1;
      }
    }
  }

  &__content {
    margin: 0 37px 0;
    padding: 0;

    list-style-type: none;
    overflow: hidden;
    transition: all $trans-default;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: 70px 20px;

    @include vp-1023 {
      display: none;
    }

    &.js-is-open {
      margin-top: 70px;
    }
  }

  &__item {
    min-width: 184px;
  }

  &__letter {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    color: $midnight-express;
  }

  &__countries {
    list-style-type: none;
    margin: 30px 0 0;
    padding: 0;
  }

  &__country-button {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: $charcoal;

    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
  }

  &__hide-button {
    display: block;
    width: 100%;
    background-color: $hawkes-blue;
    text-transform: uppercase;

    &.js-is-open {
      margin-top: 50px;
    }

    @include hover-focus {
      background-color: $periwinkle;

      @include vp-1023 {
        background-color: transparent;

        .filter__hide-button-inner-content {
          opacity: 0.6;
        }
      }

      &:active {
        .filter__hide-button-inner-content {
          opacity: 0.3;
        }
      }
    }

    svg {
      position: unset;
      top: unset;
      right: unset;
    }

    &.js-is-open {
      .filter__hide-button-icon--open {
        opacity: 0;
      }

      .filter__hide-button-icon--close {
        opacity: 1;
      }
    }

    @include vp-1023 {
      // Кнопка вне контейнера алфавита
      &--outer {
        font-size: 20px;
        padding: 0 72px 0 0;
        background-color: transparent;
        height: 100%;
        width: unset;

        .filter__hide-button-icon {
          left: unset;
          right: 12px;
          top: -5px;

          transition: all $trans-default;
          opacity: 0;

          &--open {
            width: 33px;
            height: 6px;
            opacity: 1;

            svg {
              width: 33px;
              height: 6px;
            }
          }

          &--close {
            top: 0px;
            right: 34px;
          }
        }

        &.js-is-open {
          margin: 0;
        }
      }
    }
  }

  // Контент внутри кнопки

  &__hide-button-inner-content {
    position: relative;
    margin: 0 40px;
    transition: all $trans-default;

    @include vp-1023 {
      position: unset;
      margin: 0;
    }
  }

  &__hide-button-icon {
    position: absolute;
    left: -32px;
    top: 3px;

    &--close {
      opacity: 0;
    }

    &--open {
      opacity: 1;
    }
  }

  &__tablet-content {
    display: none;
  }
}
