.hero {
  margin-bottom: -58px;
  background-color: $chambray;
  position: relative;
  min-height: 642px;
  border-radius: 0 0 58px 58px;
  padding-top: 95px;
  overflow: hidden;

  @include vp-1023 {
    padding-top: 67px;
    margin-bottom: 0;
    position: relative;
    border-radius: unset;

    // Декоративный вырез внизу.
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $midnight-express-4;
      height: 201px;
    }

    @include vp-767 {
      padding-top: 35px;
    }
  }

  // Декоративный глобус
  &__background {
    width: 1440px;
    height: 750px;
    position: absolute;
    bottom: 0;
    z-index: 0;

    @include vp-1023 {
      height: 906px;

      img {
        object-position: -176px -200px;
      }
    }

    @include vp-767 {

    }
  }

  .container {
    position: relative;
  }

  h2 {
    margin: 0 0 0 12px;
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 2px;
    color: $color-default-white;
    text-transform: uppercase;
    max-width: 520px;

    @include vp-1023 {
      font-size: 48px;
      margin-left: 14px;
      letter-spacing: 3px;
    }

    @include vp-767 {
      margin-left: 0;
      font-size: 29px;
      line-height: 40px;
      letter-spacing: 1.5px;
    }

    // Фикс отклонения в макете.
    span {
      font-size: 70px;
      line-height: 62px;
      margin-left: -4px;

      @include vp-1023 {
        margin-left: -5px;
        font-size: 60px;
      }

      @include vp-767 {
        font-size: 36px;
        line-height: 34px;
        margin-left: -1px;
      }
    }
  }

  //  Декоративный путешественник
  &__picture {
    position: absolute;
    right: 275px;
    bottom: 0;
    width: 431px;
    height: 640px;

    img {
      width: inherit;
      height: inherit;
    }

    @include vp-1023 {
      width: 437px;
      height: 530px;
      right: 46px;
      bottom: 280px;
    }

    @include vp-767 {
      width: 192px;
      height: 255px;
      right: 43px;
      bottom: 311px;
    }
  }

  &__list {
    margin: 116px 0 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    position: relative;
    z-index: 1;

    counter-reset: item 0;

    @include vp-1023 {
      margin-top: 456px;
      gap: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: stretch;
      border-radius: 20px;
      overflow: hidden;
    }

    @include vp-767 {
      margin-top: 287px;
      display: block;
      overflow: visible;
      border-radius: unset;
    }
  }

  // Анимация появления элементов списка
  @keyframes fadeInUp {
    from {
      opacity: 0; /* Начальное состояние */
      transform: translateY(40px); /* Сдвиг вниз */
    }

    to {
      opacity: 1; /* Конечное состояние - видимый */
      transform: translateY(0); /* Возвращаем на место */
    }
  }

  &__item {
    counter-increment: item;

    padding: 30px 62px 30px 30px;
    margin-right: -30px;
    width: 345px;
    border-radius: 20px;
    background-color: $color-default-white;
    box-shadow: -4px 0 10px 0 rgba(0, 0, 0, 0.25);
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto 30px;
    opacity: 0;

    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    @include vp-1023 {
      margin-right: unset;
      padding: 30px 62px 22px 33px;
      box-shadow: none;
      border-radius: unset;
      display: block;

      // Верхний правый угол
      &:first-child + & {
        border-top-left-radius: 20px;
      }

      // Нижний правый угол
      &:last-child {
        border-bottom-left-radius: 20px;
      }

      // Левая колонка
      &:nth-child(2n + 1) {
        margin-right: -50px;
      }
    }

    @include vp-767 {
      padding: 22px 20px 22px 25px;
      display: grid;
      grid-template-columns: 180px 30px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      &:last-child {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      &:first-child + & {
        border-top-left-radius: 10px;
        padding-top: 23px;
        padding-bottom: 47px;
      }

      &:nth-child(2n + 1) {
        margin-right: unset;
      }

      &:not(:first-child) {
        margin-top: -29px;
      }

      &:not(:last-child) {
        padding-bottom: 50px;
      }

      &:not(:last-child),
      &:not(:first-child) {
        border-radius: 10px;
      }
    }

    p {
      margin: 0;
      font-size: 22px;
      font-weight: 700;
      line-height: 24px;
      color: $midnight-express-3;
      max-width: 200px;
      word-break: break-word;

      @include vp-1023 {
        font-size: 24px;
        max-width: 220px;
      }

      @include vp-767 {
        font-size: 18px;
        line-height: 18px;
        max-width: 190px;
      }
    }

    // Декоративный номер/счетчик
    &::after {
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      color: $color-default-white;
      text-align: right;
      word-break: break-all;

      content: counter(item);
      position: static;
      display: block;

      @include vp-1023 {
        font-size: 30px;
        line-height: 30px;
        margin-top: 10px;
        text-align: left;
      }

      @include vp-767 {
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        text-align: right;
        margin-top: 0;
      }
    }

    &--1 {
      background-color: $picton-blue;
      width: calc(100% / 3.82);
      animation-delay: 0s;
    }

    &--2 {
      background-color: $jordy-blue;
      width: calc(100% / 3.52);
      animation-delay: 0.5s;
    }

    &--3 {
      background-color: $pale-cornflower-blue;
      width: calc(100% / 3.52);
      animation-delay: 1s;
    }

    &--4 {
      background-color: $pattens-blue;
      width: calc(100% / 4.19);
      animation-delay: 1.5s;
    }

    @include vp-1023 {
      &--1,
      &--2,
      &--3,
      &--4 {
        width: unset;
      }
    }
  }
}
