.hero {
  margin-bottom: -58px;
  background-color: $chambray;
  position: relative;
  min-height: 642px;
  border-radius: 0 0 58px 58px;
  padding-top: 95px;

  // Декоративный глобус
  & > img {
    width: 1440px;
    height: 750px;
    position: absolute;
    bottom: 0;
    z-index: 0;
    object-fit: cover;
  }

  .container {
    position: relative;
  }

  h2 {
    margin: 0 0 0 12px;
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 2px;
    color: $color-default-white;
    text-transform: uppercase;
    max-width: 520px;

    // Фикс отклонения в макете.
    span
      {
        font-size: 70px;
        line-height: 62px;
        margin-left: -4px;
      }
  }

  &__picture {
    position: absolute;
    right: 275px;
    bottom: -113px;
  }

  &__list {
    margin: 116px 0 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 20px;

    position: relative;
    z-index: 1;

    counter-reset: item 0;
  }

  // Анимация появления элементов списка
  @keyframes fadeInUp {
    from {
      opacity: 0; /* Начальное состояние */
      transform: translateY(40px); /* Сдвиг вниз */
    }
    to {
      opacity: 1; /* Конечное состояние - видимый */
      transform: translateY(0); /* Возвращаем на место */
    }
  }

  &__item {
    counter-increment: item;

    padding: 30px 62px 30px 30px;
    margin-right: -30px;
    width: 345px;
    border-radius: 20px;
    background-color: $color-default-white;
    box-shadow: -4px 0px 10px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    justify-content: space-between;
    grid-template-columns: 220px 30px;
    opacity: 0;

    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    p {
      margin: 0;
      font-size: 22px;
      font-weight: 700;
      line-height: 24px;
      color: $midnight-express-3;
      max-width: 200px;
      word-break: break-word;
    }

    &::after {
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      color: $color-default-white;
      text-align: right;
      word-break: break-all;

      content: counter(item);
      position: static;
      display: block;
    }

    &--1 {
      background-color: $picton-blue;
      width: 345px;
      animation-delay: 0s;
    }

    &--2 {
      background-color: $jordy-blue;
      width: 375px;
      animation-delay: 0.5s;
    }

    &--3 {
      background-color: $pale-cornflower-blue;
      width: 375px;
      animation-delay: 1s;
    }

    &--4 {
      background-color: $pattens-blue;
      width: 315px;
      animation-delay: 1.5s;
    }
  }
}
