.map {
  margin-top: -60px;

  &__content {
    padding-top: 115px;
    padding-bottom: 55px;
    border-radius: 0 0 58px 58px;

    background-color: $jordy-blue;
    box-shadow: 0 5px 20px 0 rgb($color-default-black, 0.25);

    position: relative;
    z-index: 1;

    @include vp-1023 {
      padding-top: 108px;
      padding-bottom: 84px;
    }

    @include vp-767 {
      padding-top: 91px;
      padding-bottom: 32px;
      border-radius: 0 0 28px 28px;
    }
  }

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding-left: 283px;
    padding-right: 135px;

    gap: 20px;

    @include vp-1279 {
      padding: 0 60px;
    }

    @include vp-1023 {
      padding: 0 75px;
      display: block;
    }

    @include vp-767 {
      padding: 0 25px;
    }
  }

  &__address {
    font-style: normal;

    display: flex;
    align-items: center;
  }

  &__icon {
    width: 90px;
    height: 90px;
    background-color: $midnight-express-2;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    color: $pattens-blue;

    @include vp-1023 {
      width: 68px;
      height: 68px;

      svg {
        width: 31px;
        height: 31px;
      }
    }

    @include vp-767 {
      width: 45px;
      height: 45px;
      margin-left: 1px;

      svg {
        width: 21px;
        height: 21px;
      }
    }
  }

  span {
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;

    color: $catalina-blue;

    margin-left: 31px;

    @include vp-1279 {
      font-size: 24px;
    }

    @include vp-1023 {
      font-size: 28px;
      margin-left: 26px;
      padding-top: 4px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 22px;
      margin-left: 17px;
    }
  }

  &__button {
    margin-top: 5px;
    padding: 26px 45px 24px 34px;

    svg {
      top: 32px;
      right: 12px;
    }

    @include vp-1279 {
      font-size: 20px;
    }

    @include vp-1023 {
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      text-align: left;

      margin-top: 44px;
      display: block;
      width: 100%;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 18px;

      padding: 19px 36px 20px 13px;
      margin-top: 32px;

      svg {
        top: 22px;
        right: 8px;
      }
    }
  }

  &__wrapper {
    margin-top: -140px;
    margin-bottom: -140px;
    position: relative;
    z-index: 0;

    @include vp-1023 {
      height: 744px;
    }

    @include vp-767 {
      height: 630px;
    }

    iframe {
      width: 100%;
      height: 676px;
      border: none;
      display: block;
    }
  }
}
