.nav-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  word-break: break-word;

  position: relative;
  display: inline-block;
  outline: none;
  color: $color-default-white;

  overflow: hidden;

  user-select: none;

  span {
    position: relative;
    display: inline-block;
    transition: all $trans-default;

    &::before {
      position: absolute;
      top: 100%;
      content: attr(data-hover);
      font-weight: 700;
    }
  }

  @include hover-focus {
    span {
      transform: translateY(-100%);
      color: $jordy-blue;

      &:active {
        color: $picton-blue-2;
      }
    }
  }

  @include vp-1023 {
    font-size: 30px;
    line-height: 43px;
    color: $midnight-express;
    display: block;
  }
}
