.profile {
  padding-top: 126px;
  padding-bottom: 45px;

  .container {
    display: grid;
    grid-template-columns: auto 44.3%;
    grid-template-areas:
      "title title"
      "list price"
      "button price";
    align-items: start;
  }

  h2 {
    grid-area: title;
    font-size: 79px;
    font-weight: 700;
    line-height: 45px;
    color: $midnight-express;
    text-transform: uppercase;
    text-align: center;
    word-break: break-word;
    margin: 0 30px 99px 0;
    letter-spacing: 3px;
  }

  &__list {
    grid-area: list;
    margin: 62px 0 0;
    padding: 0;
    list-style-type: none;
    counter-reset: profile-item;
  }

  &__item {
    counter-increment: profile-item;
    position: relative;
    margin-left: 112px;

    // Верхняя декоративная серая линия.
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      left: 0;
      background-color: $solitude;
    }

    &::before {
      top: 0;
    }

    &:last-child {
      &::after {
        bottom: 0;
      }
    }

    span {
      font-size: 28px;
      font-weight: 400;
      line-height: 28px;
      display: flex;
      align-items: center;
      min-height: 77px;
      color: $charcoal;
      position: relative;
      word-break: break-all;

      // Номер пункта списка
      &::before {
        font-size: 28px;
        font-weight: 400;
        line-height: 28px;
        color: $color-default-white;
        content: counter(profile-item);
        position: absolute;
        top: 0;
        left: -97px;
        width: 71px;
        height: 71px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }

    // Цвета пунктов списка
    &:nth-child(3n + 1) span {
      &::before {
        background-color: $picton-blue;
      }
    }

    &:nth-child(3n + 2) span {
      &::before {
        background-color: $jordy-blue;
      }
    }

    &:nth-child(3n + 3) span {
      &::before {
        background-color: $pale-cornflower-blue;
      }
    }
  }

  &__price {
    grid-area: price;
    border-radius: 20px;
    background-color: $blue-zodiac;
    padding: 87px 43% 50px 7%;
    min-height: 333px;
    position: relative;
  }

  &__text {
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 3px;
    color: $color-default-white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 22px;
    word-break: break-all;
  }

  &__price-value {
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    color: $color-default-white;
    text-align: center;
    margin-bottom: 13px;
    word-break: break-all;
  }

  &__icon {
    position: absolute;
    right: 8%;
    top: 49%;
    transform: translateY(-50%);
    width: 34%;
    height: 61%;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__button {
    grid-area: button;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    border: none;
    padding: 0 0 0 92px;
    background-color: transparent;
    color: $blue-zodiac;
    cursor: pointer;
    min-height: 71px;
    margin-top: 32px;
    margin-left: 15px;
    justify-self: start;

    position: relative;

    transition: all $trans-default;

    @include hover-focus {
      opacity: 0.7;

      &:active {
        opacity: 0.3;
      }
    }

    &-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 71px;
      height: 71px;
      background-color: $lavender;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $blue-zodiac;
    }
  }
}
