.profile {
  padding-top: 103px;
  padding-bottom: 63px;

  @include vp-1023 {
    padding-top: 43px;
    padding-bottom: 62px;
    border-radius: 0 0 58px 58px;
    background-color: $color-default-white;
    position: relative;
    z-index: 3;
  }

  @include vp-767 {
    margin-top: -40px;
    padding-top: 78px;
    padding-bottom: 11px;
    border-radius: 0 0 29px 32px;
    background-color: $solitude-3;
  }

  .container {
    display: grid;
    grid-template-columns: auto 44.3%;
    grid-template-areas:
      "title title"
      "list price"
      "button price"
      ". price";
    align-items: start;

    @include vp-1023 {
      grid-template-columns: auto 198px;
    }

    @include vp-767 {
      display: block;
    }
  }

  h2 {
    grid-area: title;
    font-size: 79px;
    font-weight: 700;
    line-height: 94px;
    color: $midnight-express;
    text-transform: uppercase;
    text-align: center;
    word-break: break-word;
    margin: 0 30px 76px 0;
    letter-spacing: 3px;

    @include vp-1279 {
      font-size: 50px;
    }

    @include vp-1023 {
      font-size: 79px;
      line-height: 90px;
      margin-right: 0;
      margin-bottom: 19px;
    }

    @include vp-767 {
      line-height: 28px;
      font-size: 30px;
      margin: 0 0;
      letter-spacing: 1.8px;
    }
  }

  &__list {
    grid-area: list;
    margin: 62px 0 0;
    padding: 0;
    list-style-type: none;
    counter-reset: profile-item;

    @include vp-1023 {
      margin-top: 38px;
    }

    @include vp-767 {
      margin-top: 28px;
      margin-bottom: 20px;
    }
  }

  &__item {
    counter-increment: profile-item;
    position: relative;
    margin-left: 112px;

    @include vp-1023 {
      margin-left: 91px;
    }

    @include vp-767 {
      margin-left: 0;
      margin-right: 50px;
    }

    // Верхняя декоративная серая линия.
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      left: 0;
      background-color: $solitude;
    }

    &::before {
      top: 0;
    }

    &:last-child {
      &::after {
        bottom: 0;
      }
    }

    span {
      font-size: 28px;
      font-weight: 400;
      line-height: 28px;
      display: flex;
      align-items: center;
      min-height: 77px;
      color: $charcoal;
      position: relative;
      word-break: break-all;
      margin-right: 30px;
      padding: 4px 0;

      @include vp-1279 {
        font-size: 24px;
      }

      @include vp-1023 {
        font-size: 28px;
        min-height: 71px;
      }

      @include vp-767 {
        font-size: 16px;
        min-height: 45px;
        margin-right: 6px;
      }

      // Номер пункта списка
      &::before {
        font-size: 28px;
        font-weight: 400;
        line-height: 28px;
        color: $color-default-white;
        content: counter(profile-item);
        position: absolute;
        top: 0;
        left: -97px;
        width: 71px;
        height: 71px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        @include vp-1279 {
          font-size: 24px;
        }

        @include vp-1023 {
          height: 68px;
          top: 1px;
          left: -90px;
          width: 68px;
        }

        @include vp-767 {
          width: 37.32px;
          height: 34.93px;
          left: unset;
          right: -52px;
          font-size: 16px;
          top: 5px;
        }
      }
    }

    // Цвета пунктов списка
    &:nth-child(3n + 1) span {
      &::before {
        background-color: $picton-blue;
      }
    }

    &:nth-child(3n + 2) span {
      &::before {
        background-color: $jordy-blue;
      }
    }

    &:nth-child(3n + 3) span {
      &::before {
        background-color: $pale-cornflower-blue;
      }
    }
  }

  &__price {
    grid-area: price;
    border-radius: 20px;
    background-color: $blue-zodiac;
    padding: 87px 43% 50px 8%;
    min-height: 333px;
    position: relative;

    @include vp-1023 {
      padding: 24px 12px 130px;
      min-height: 285px;
    }

    @include vp-767 {
      margin-left: 3px;
      margin-right: 4px;
      margin-top: 39px;
      padding: 18px 44% 16px 15px;
      min-height: unset;
      box-shadow: 0 0 10px 0 rgb($color-default-black, 0.1);
    }
  }

  &__text {
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 3px;
    color: $color-default-white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    word-break: break-all;

    @include vp-1279 {
      font-size: 26px;
    }

    @include vp-1023 {
      font-size: 23px;
      letter-spacing: 0.9px;
      margin-bottom: 19px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 16px;
      text-align: left;
      margin-bottom: 23px;
    }
  }

  &__price-value {
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    color: $color-default-white;
    text-align: center;
    margin-bottom: 13px;
    word-break: break-all;

    @include vp-1279 {
      font-size: 24px;
    }

    @include vp-1023 {
      margin-bottom: 10px;
    }

    @include vp-767 {
      font-size: 16px;
      font-weight: 300;
      line-height: 16px;
      text-align: left;
      margin-bottom: 4px;
    }
  }

  &__icon {
    position: absolute;
    right: 8%;
    top: 49%;
    transform: translateY(-50%);
    width: 34%;
    height: 61%;

    @include vp-1023 {
      bottom: -32px;
      top: unset;
      right: 50%;
      width: 100px;
      height: 100px;
      transform: translate(50%, -50%);
    }

    @include vp-767 {
      transform: unset;
      top: 16px;
      right: 7%;
      bottom: unset;
      width: 81px;
      height: 81px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__button {
    grid-area: button;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    border: none;
    padding: 0 0 0 92px;
    background-color: transparent;
    color: $blue-zodiac;
    cursor: pointer;
    min-height: 71px;
    margin-top: 32px;
    margin-left: 15px;
    justify-self: start;

    position: relative;

    transition: all $trans-default;

    @include vp-1023 {
      margin-left: -2px;
      margin-top: 20px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 16px;
      padding: 0;
      min-height: 44px;
      margin-left: 21px;
      margin-top: 14px;
    }

    @include hover-focus {
      opacity: 0.7;

      &:active {
        opacity: 0.3;
      }
    }

    &-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 71px;
      height: 71px;
      background-color: $lavender;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $blue-zodiac;

      @include vp-767 {
        display: none;
      }
    }
  }
}
