.registration {
  padding-top: 142px;
  padding-bottom: 104px;

  border-radius: 0 0 58px 58px;

  background-color: $blue-zodiac;

  position: relative;

  @include vp-1023 {
    padding-top: 100px;
    margin-top: -60px;
  }

  h2 {
    margin: 0;
    font-size: 95px;
    font-weight: 700;
    line-height: 110px;
    color: $color-default-white;
    word-break: break-all;
    text-align: center;

    @include vp-1279 {
      font-size: 80px;
    }
  }

  p {
    margin: 14px auto 0;
    font-size: 28px;
    font-weight: 300;
    line-height: 31px;
    color: $color-default-white;
    text-align: center;
    max-width: 48%;

    @include vp-1279 {
      font-size: 24px;
    }
  }

  &__link {
    color: $pale-cornflower-blue;

    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;

    transition: all $trans-default;

    @include vp-1279 {
      font-size: 24px;
    }

    @include hover-focus {
      color: $picton-blue;

      &:active {
        color: rgb($spindle, 0.3);
      }
    }
  }

  &__form {
    margin: 47px auto 0;
    max-width: 89%;

    form {
      display: flex;
    }

    .custom-input {
      padding: 0;
      width: unset;
      display: block;
      flex-grow: 1;

      label {
        display: block;
        width: unset;
        height: 100%;
        max-height: unset;
      }

      input {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        color: $color-default-white;

        min-height: 81px;
        width: 100%;
        max-width: unset;
        height: 100%;
        max-height: unset;

        padding-right: 32px;
        padding-left: 32px;

        border-radius: 0;
        border-radius: 20px 0 0 20px;
        border: 4px solid $color-default-white;

        background-color: transparent;

        transition: all $trans-default;

        &::placeholder {
          color: rgb($charcoal, 0.3);
          transition: all $trans-default;
        }

        // Если поле пустое.
        &:placeholder-shown {
          background-color: $color-default-white;
          border: 4px solid $color-default-white;

          @include hover {
            &::placeholder {
              color: rgb($charcoal, 0.5);
            }
          }

          @include focus {
            background-color: transparent;
            color: $color-default-white;
            border-color: $color-default-white;
            border-width: 4px;
          }
        }

        // Если поле НЕ пустое.
        @include hover {
          border: 4px solid $color-default-white;
          color: rgb($color-default-white, 0.5);
        }

        @include focus {
          border: 4px solid $color-default-white;
          color: $color-default-white;
        }
      }

      // Если ошибка
      &.is-invalid input {
        background-color: $color-default-white;
        color: $red;

        @include hover-focus {
          color: $red;
        }
      }
    }

    button {
      text-align: left;

      padding-left: 3.5%;

      min-width: 28%;
      max-width: 500px;

      border-radius: 0;
      border-radius: 0 20px 20px 0;
    }
  }

  &__question {
    font-size: 28px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: $color-default-white;
    text-align: center;

    margin: 70px auto 0;

    max-width: 80%;

    @include vp-1279 {
      font-size: 24px;
    }
  }

  &__contacts {
    margin-top: 42px;

    gap: 20px 13px;
    justify-content: center;

    @include vp-1279 {
      gap: 20px 6%;
    }

    .contacts__item {
      min-width: 462px;

      @include vp-1279 {
        min-width: unset;
      }
    }

    // pixel perfect fix
    .contacts__item:first-child {
      .contacts__link {
        margin-left: 35px;

        @include vp-1279 {
          margin-left: unset;
        }
      }
    }

    .contacts__link {
      display: flex;
      align-items: center;
    }

    .contacts__icon {
      color: $pattens-blue;
      background-color: $midnight-express-2;

      margin-right: 31px;

      width: 90px;
      height: 90px;

      flex-shrink: 0;

      svg {
        transform: scale(2);
      }

    }

    .contacts__icon--desktop {
      display: none;
    }

    .contacts__icon--mobile {
      display: flex;
    }

    .contacts__text {
      font-size: 28px;
      font-weight: 700;
      line-height: 28px;
      color: $pattens-blue;
      text-transform: uppercase;

      padding-top: 8px;
      display: inline-block;

      @include vp-1279 {
        font-size: 22px;
      }
    }
  }
}
